@media (width>1200px) {
  .project-box {
    display: flex;
    gap: 50px;
    margin: 50px 0 0 0;
  }
  .project-img-container {
    height: 410px;
  }
}

.projects-wrapper {
  text-align: center;
  padding: 100px 0;
}

.project-title {
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 20px 0;
}

.project-box-text {
  max-width: 40vw;
  text-align: left;
  padding: 60px 0 0 0;
}

.project-description {
  margin: 0 0 60px 0;
}
.project-img {
  height: 100%;
}
