@media (width>1199px) {
}
.project-box {
  display: flex;
  gap: 50px;
  margin: 50px 0 0 0;
}
.project-img-container {
  height: 350px;
  width: 630px;
  overflow: hidden;
  border: 1px solid #234e70;
}
.project-img {
  width: 100%;
}

.projects-wrapper {
  text-align: center;
  padding: 100px 0;
}

.project-title {
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 10px 0;
}

.project-box-text {
  max-width: 40vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


