.hero {
  background: linear-gradient(to right, #f5f5f5, #f5f5f5) url(bg.svg);
  background-position: center;
  position: relative;
  padding: 70px 0;
  height: calc(100vh - 67px);
}

.hero-content {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-info {
  font-size: 20px;
  margin: 0 auto 10vh auto;
}

.hero-scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  overflow: hidden;
}

.hero-scroll::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #234e70;
  border-radius: 50%;
  opacity: 1;
  animation: scroll 1.3s infinite;
}

@keyframes scroll {
  to {
    opacity: 0;
    top: 27px;
  }
}

@media (width>750px) {
  .hero-content {
    max-width: 655px;
  }
  .h1 {
    font-size: 60px;
  }
  .hero-info {
    font-size: 25px;
    margin: 0 auto 15vh auto;
  }
}
@media (width>999px) {
  .hero {
    height: calc(100vh - 97px);
  }
}
@media (width>1399px) {
  .hero {
    padding: 170px 0;
  }
  .hero-info {
    max-width: 930px;
  }
  .hero-content {
    max-width: 1100px;
  }
}