@media (width>1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
  }
  .wrapper {
    width: 90vw;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .logo-img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: url(../header/logo.png) no-repeat center center;
    background-size: contain;
    background-color: #ffdc43;
    transition: 0.3s;
  }

  .logo-img:hover {
    background-color: #234e70;
  }

  .nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .link {
    text-decoration: none;
    color: #234e70;
    transition: color 0.3s;
  }
  .link:hover {
    color: #facf0f;
  }
}
