@media (width>1199px) {
}
.footer {
  background: #234e70;
  color: #facf0f;
}
.copyright-link {
  text-decoration: none;
  color: #facf0f;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.footer-centre {
  flex: 1;
  text-align: center;
}
.footer-social {
  margin-left: auto;
  display: flex;
  gap: 15px;
}
.footer-social-link-img {
  width: 25px;
  height: 25px;
}
