html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #234e70;
  box-sizing: border-box;
  list-style: none;
}
.body::-webkit-scrollbar {
  width: 0;
}
.disable-scroll {
  overflow: hidden;
}
.like-screen-height {
  min-height: calc(100vh - 67px);
}
@media (width>750px) {
}
@media (width>999px) {
  .like-screen-height {
    min-height: calc(100vh - 97px);
  }
}
@media (width>1399px) {
}

.btn {
  background: #facf0f;
  padding: 15px 0;
  text-align: center;
  width: 255px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: 0.3s;
  text-decoration: none;
  color: #234e70;
}

.btn:hover {
  transform: translateY(-3px);
  color: #facf0f;
  background: #234e70;
}
.h2 {
  font-size: 40px;
  margin: 0 auto;
}
.h3 {
  font-size: 26px;
  font-weight: 700;
}

.content-wrapper {
  width: 90vw;
  margin: 0 auto;
}
